// Define variables for your color scheme

//Routeee colour palette
$red: #FD1015;
$mint: #23CED9;
$yellow: #F9D779;
$orange: #FCA47C;
$green: #A1CCA6;
$teal: #097C87;
$light-gray: #FAF9F6;

// original Le Wagon set:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
